<html>
  <head>
    <title>Admin</title>

    <link rel="stylesheet" type="text/css" href="/dashboard.css" />
  </head>

  <body>
    <%- include('../Partials/adminDashboardSidePanel.ejs') %>

    <div class="content">
      <h1>Remove Student</h1>

      <% if (message) { %>
      <p class="message">Student not found</p>
      <% } %> <% if (student) { %>
      <p class="success">
        Student <%= student.first_name %> <%= student.last_name %> removed.
      </p>
      <% } %>

      <form action="/admin/dashboard/removeStudent" method="post">
        <label>
          National Number <input type="text" name="national_number" />
        </label>
        <input type="submit" value="Remove" />
      </form>

      <% if (student) { %>
      <p>FirstName : <%= student.first_name %></p>
      <p>LastName : <%= student.last_name %></p>
      <p>National Number : <%= student.national_number %></p>
      <p>Gender : <%= student.gender %></p>
      <p>Guardian Name : <%= student.guardian_name %></p>

      <table>
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Teacher</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i=0; i < student.courses.length; i++) { %>
          <td><%= student.courses[i].name %></td>
          <td>
            <%= student.courses[i].teacher.first_name %> <%=
            student.courses[i].teacher.last_name %>
          </td>
          <td><%= student.courses[i].score %></td>
          <% } %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
